@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WordPress.Mvc</title>
</head>
<body>
    <h2>WordPress.Mvc</h2>
    <p>What's up with that?</p>
</body>
</html>
